<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ALLTestCases">
<listeners>
    <listener class-name="Ecommerce.TestingComponent.Listeners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Ecommerce.Test.AddToKart"/>
      <class name="Ecommerce.Test.Day1"/>
      <class name="Ecommerce.Test.ErrorValidation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- ALLTestCases -->
