<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="tests">
  <test thread-count="5" name="ErrorValidation">
    <classes>
      <class name="Ecommerce.Test.ErrorValidation"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="AddToKart">
    <classes>
      <class name="Ecommerce.Test.AddToKart"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- TestSuite -->
 